@use './base' as *;
@use './theme' as *;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --p-skeleton-background: #{$color-lilac-light};
  --p-skeleton-animation-background: rgba(255, 255, 255, 0.6);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
